<DIV class="col-md-3 col-lg-3 main-right">
    <div class="cloud">
        <div class="createtopic">
            <a href="/topic/create/index.html" id="create_topic_btn">
                <span class="span-success">发布话题</span>
            </a>
        </div>
    </div>
    <div class="cloud qqregion">
        <div class="h2" style="border-bottom-color: {{_web.festivalBgColor}}">
            <span class="github-region">
                <a href="https://github.com/saucxs/nodeJSBlog">
                    <img src="{{_web.url}}{{theme_url}}/{{think.Dev_Src}}css/business/index/images/github.png" alt=""class="github" />
                </a>
                <a href="https://github.com/saucxs/nodeJSBlog/stargazers"  target="_blank" class="count"><b></b><i></i>
                    <span id="gitcount"></span>
                </a>
            </span>
            交流咨询
        </div>
        <ul class="qqs">
            <div>官方QQ群<br/>群号<span>663940201,欢迎加入！</span>
                <div class="qqlist">
                    <a target="_blank" href="http://shang.qq.com/wpa/qunwpa?idkey=65dbbdbed765e804e2412503f0ee8dde17d631754db33b7c7047af5c233618e2"><img border="0" src="{{_web.url}}{{theme_url}}/common/images/common/group.png" alt="交流学习社区交流群" title="交流学习社区交流群"></a>
                   <!-- <a target="_blank" href="http://shang.qq.com/wpa/qunwpa?idkey=65dbbdbed765e804e2412503f0ee8dde17d631754db33b7c7047af5c233618e2"><img border="0" src="{{_web.url}}{{theme_url}}/common/images/common/group.png" alt="交流学习社区交流群" title="交流学习社区交流群"></a>
                --></div>
            </div>
        </ul>
    </div>
    <div class="cloud newMember">
        <h3 class="h2" style="border-bottom-color: {{_web.festivalBgColor}}">最新会员</h3>
        <ul>
            {% for item in memberList %}
            <li>
                <a target="_blank" href="/personal/@{{item.name}}">
                    <img src="{{_web.url}}{{theme_url}}/{{'common/images/pic/man.jpg' if item.pic=='' else item.pic}}" class="avatar avatar-36" height="36" width="36" title="{{item.name}}">

                    <span>{{item.name}}</span>
                </a>
            </li>
            {%endfor%}
        </ul>
    </div>
    <div class="cloud">
        <h3 class="h2" style="border-bottom-color: {{_web.festivalBgColor}}">标签云</h3>
        <ul>
            {% for item in tagList %}
            <li><a href="/category/{{item.id}}.html" target="_blank">{{item.tagname}}</a></li>
            {%endfor%}
        </ul>
    </div>
    <div class="links">
        <div class="h2" style="border-bottom-color: {{_web.festivalBgColor}}">
            <strong>友情链接</strong>
            <span>
                <a href="/links.html" target="_blank">申请友情链接</a>
            </span>
        </div>
        <!--<h3><span><a href="/links.html">申请友情链接</a></span>友情链接</h3>-->
        <ul>
            {% for item in linksList %}
            <li><a href="{{item.link}}" target="_blank">{{item.domain}}</a></li>
            {%endfor%}
        </ul>
    </div>
</div>
