<!DOCTYPE html>
<html>
<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{{title}}-{{_web.sitename}}</title>
    <meta name="keywords" content="{{_web.keywords}}">
    <meta name="description" content="{{title}}-{{_web.sitename}}">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    {%include "../common/inc/header.html"%}
    <link href="{{_web.url}}{{theme_url}}/{{think.Dev_Src}}css/business/register/register.css" rel="stylesheet">
</head>
<body>
{% include "../common/inc/login_nav.html"%}
<article class="container">
    <div class="row forgetpassword-main">
        <div class="col-md-6">
            <div id="login">
                <div class="panel panel-default well">
                    <div class="panel-heading activate-title">
                        <h2>恭喜您，用户激活成功</h2>
                        <h3>请前往登陆地址：<a style="color: #5579ee;" href="https://www.mwcxs.top/login.html">传送门</a></h3>
                    </div>
                    <div style="padding-top:10px" class="panel-body">
                        <a href="https://www.mwcxs.top/login.html"><img src="{{_web.url}}{{theme_url}}/{{think.Dev_Src}}css/business/index/images/register_success.jpg"  style="width: 50%;"></a>
                        <div id="forgetCompleteForm" class="form-horizontal bv-form" role="form">
                            <div class="register-item">
                                <div class="input-group">
                                    <input type="hidden" id="csrf" value="{{csrf}}">
                                    <input type="hidden" id="code" value="{{code}}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6" style="padding-right:0px;">
            <div id="oAuth">
                <div class="page-header">
                    <h3>欢迎来到{{_web.siteNickName}}</h3>
                    <p>在这里，你可以充实自己，认识更多的朋友！</p>
                </div>
                <div class="col-sm-12 social-buttons" style="padding:0px;">
                    <img src="{{_web.url}}{{theme_url}}/{{think.Dev_Src}}css/business/index/images/biye.jpg" style="width: 100%;"/>
                </div>
            </div>
        </div>
    </div>
</article>
{%include "../common/inc/footer.html"%}
<script type="text/javascript" src="{{_web.url}}{{theme_url}}/{{think.Dev_Src}}js/business/register/jquery.validate.js"></script>
<script type="text/javascript" src="{{_web.url}}{{theme_url}}/{{think.Dev_Src}}js/business/register/activateuser.js"></script>
</body>
</html>
