{% extends "../common/inc/base_about.html" %}
{% block head %}
    <title>{{title}}-{{_web.sitename}}</title>
    <meta name="keywords" content="{{_web.keywords}}">
    <meta name="description" content="{{title}}-{{_web.sitename}}">
    {{ super() }}
{% endblock %}

{% block content %}
    <header class="article-header">
        <h1 class="article-title">捐赠</h1>
    </header>
    <article class="article-content donate">
        <div class="right-main no-border">
            <p>支付宝,微信稍微赞助，本人将不胜感激，并更加努力做好交流学习社区！</p>
            <div class="col-md-6">
                <img style="display:inline-block;width: 40%;" src="{{_web.url}}{{theme_url}}/common/images/common/alipay.jpg" alt="支付宝">
            </div>
            <div class="col-md-6">
                <img style="display:inline-block;width: 40%;" src="{{_web.url}}{{theme_url}}/common/images/common/wechat.png" alt="微信">
            </div>
        </div>
    </article>
{% endblock %}
