{% extends "../common/inc/base_about.html" %}
{% block head %}
    <title>{{title}}-{{_web.sitename}}</title>
    <meta name="keywords" content="{{_web.keywords}}">
    <meta name="description" content="{{title}}-{{_web.sitename}}">
    {{ super() }}
{% endblock %}

{% block content %}
    <header class="article-header">
        <h1 class="article-title">版权声明</h1>
    </header>
    <article class="article-content">
        <div class="right-main no-border">
            <p> 为了方便广告合作商找到和联系到我，特意开通合作通道！假如您要在本站投放广告，可以联系我！假如您要转载本博客文章，需要注意如下几点：</p>
            <div class="block-quote">
                <p>1、保持文章原文，不作修改。（假如参考本博客内容，请加链接，注明参考地址）</p>
                <p>2、明确署名，即至少注明 作者：交流学习社区 以及文章的原始链接。</p>
                <p>3、严禁商业用途！假如要用于商业用途，请务必联系saucxs。</p>
            </div>
        </div>
    </article>
{% endblock %}
