<a id="back-top" class="w-gotop" href="javascript:void(0)" alt="返回顶部" title="返回顶部"></a>

<div id="wechat" class="chat-robot" alt="微信群" title="微信群">
    <img src="https://www.mwcxs.top/static/staticImage/wechat/website.png" alt="微信群">
</div>
<div id="wechatIcon">
    <svg class="icon" aria-hidden="true">
        <use xlink:href="#iconweixinerweima"></use>
    </svg>
</div>

<a id="chat-robot" class="chat-robot" href="javascript:void(0)" alt="聊天机器人" title="聊天机器人">
    <svg class="icon" aria-hidden="true">
        <use xlink:href="#iconrobot"></use>
    </svg>
</a>
<div class="chat-room">
    <header class="head-box">
        <span class="chat-room-title">saucxs聊天机器人</span>
        <a href="https://github.com/saucxs/happy-chat-web" target="_blank">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#iconrobot"></use>
            </svg>
        </a>
    </header>
    <section class="section">
        <div class="section-box">
            <a class="section-icon" href="https://github.com/saucxs/happy-chat-web" target="_blank">
                <svg class="icon" aria-hidden="true">
                    <use xlink:href="#iconrobot"></use>
                </svg>
            </a>
            <div>
                <div>
                    <span class="robot-name">saucxs</span>
                    <span class="robot-time"></span>
                </div>
                <div class="word-content">hi ,欢迎来到sau交流学习社区，欢迎与我聊天，问我问题哦！</div>
            </div>
        </div>

    </section>
    <chatfooter class="footer-box">
        <span><input maxlength="60" class="input-box" placeholder="请输入内容..." /></span>
        <span><button class="button-box" id="send-message">发送</button></span>
    </chatfooter>
</div>

<!--浏览器判断-->
<div id="mask"></div>
<div id="upgradeContent" class="upgrade-content">
    <div id="big-title" class="big-title">您正在使用的浏览器是<span></span>，不在支持范围内！</div>
    <div class="sub-title">为了您的正常使用与展示，<font color="red">推荐使用Chrome浏览器68以上版本</font></div>
    <div class="sub-title sub-title-2">支持浏览器：</div>
    <div class="support-browser">
        <div class="box"><img src="http://static.chengxinsong.cn/image/checkbrower/ic_ex_chrome.gif" /><a href="http://www.google.cn/chrome/browser" target="_blank" style="color:red;">Chrome浏览器最新版</a></div>
        <div class="box"><img src="http://static.chengxinsong.cn/image/checkbrower/ic_ex_hh.gif" />火狐浏览器最新版</div>
        <div class="box"><img src="http://static.chengxinsong.cn/image/checkbrower/safari.gif" />Safari浏览器最新版</div>
        <div class="box"><img src="http://static.chengxinsong.cn/image/checkbrower/edge.gif" />Edge浏览器最新版</div>
        <div class="box"><img src="http://static.chengxinsong.cn/image/checkbrower/ic_ex_ie.gif" />IE浏览器10，11</div>
    </div>
</div>

<footer class="footer" style="background: {{_web.festivalBgColor}}">
    <div class="footer_logo col-lg-3 col-md-3 col-sm-12">
        <div class="logo">
            <a href="{{_web.homeurl}}" title="{{_web.sitename}}">
                {% if (_web.festivalContent) %}
                <img src="{{_web.url}}{{theme_url}}/common/images/common/logo_64_64_white.png" alt="{{_web.sitename}}">
                {% else %}
                <img src="{{_web.url}}{{theme_url}}/common/images/common/logo.png" alt="{{_web.sitename}}">
                {% endif %}
            </a>
        </div>
        <div class="brand" style="border-left: 2px solid {{_web.festivalFontColor}};">
            <a href="{{_web.homeurl}}" title="{{_web.sitename}}" style="color: {{_web.festivalFontColor}};">
                一个<br>技术交流学习社区
            </a>
        </div>
    </div>
    <div class="footer_right col-lg-9 col-md-9 col-sm-12">
        <div class="footer_inner">
            <p class="footer-link-wrap">
                <a href="/about.html" target="_blank">关于我们</a>
                <a href="/guest.html" target="_blank">联系我们</a>
                <a href="/policy.html" target="_blank">注册协议</a>
                <a href="/copyright.html" target="_blank">版权声明</a>
                <a href="/ads.html" target="_blank">推广服务</a>
                <a href="/sitemap.xml" target="_blank">网站地图</a>
                <a href="/links.html" target="_blank">友情链接</a>
                {% for item in _footerLink %}
                <a el="nofollow" href="{{item.url}}" title="{{item.desciption}}" target="_blank">{{item.title}}</a>
                {%endfor%}
            </p>
            <p>
                <a class="after-content" el="nofollow" href="http://www.miitbeian.gov.cn/">辽ICP备16015497号-2</a>
                <a class="after-content" href="mailto:saucxs@163.com" class="email">saucxs@163.com</a>
                <!--统计start-->
                <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
                <span class="after-content">本站总访问量<span id="busuanzi_value_site_pv"></span>次</span>
                <span class="after-content">本站访客数<span id="busuanzi_value_site_uv"></span>人次</span>
                <!--统计end-->
            </p>
            <p >
                <span>
                    {{_web.copyright}} © <a href="{{_web.homeurl}}">{{_web.sitename}}</a>
                </span>
            </p>
        </div>
    </div>
    <div style="clear:both"></div>
    <input class="blackWhiteBg" style="display: none" value="{{_web.blackWhiteBg}}">
</footer>
<script src="{{_web.url}}{{theme_url}}/{{think.Dev_Src}}js/widget/jquery/jquery-1.9.1.min.js"></script>
<!-- build:js -->
<script src="{{_web.url}}{{theme_url}}/{{think.Dev_Src}}js/business/pagecommon/footer.js"></script>
<script src="{{_web.url}}{{theme_url}}/{{think.Dev_Src}}js/widget/timeago/timeago.js"></script>
<script src="{{_web.url}}{{theme_url}}/{{think.Dev_Src}}js/widget/timeago/timeago.zh-cn.js"></script>
<!-- endbuild -->
<script type="text/javascript">
    $('.timeago').timeago();
</script>

<!--访客统计代码-->
{{_web.tongji|safe}}
<!--访客统计代码-->

<!--百度自动推送-->
{{_web.baidu_tuisong|safe}}
<!--百度自动推送-->
<!--icon-->
<script type="text/javascript" src="//at.alicdn.com/t/font_1080395_5siwsplqr7f.js"></script>
<script async>
    window.onload = function () {
        var blackWhiteFlag =  $('.blackWhiteBg').val()
        var htmlObj = document.documentElement
        if(blackWhiteFlag == 1){
            htmlObj.style.cssText="filter:progid:DXImageTransForm.Microsoft.BasicImage(grayscale=1);-webkit-filter: saturate(0);";
        }
    }
</script>

