<a id="back-top" class="w-gotop" href="javascript:void(0)" alt="返回顶部" title="返回顶部"></a>

<footer class="footer" style="background: {{_web.festivalBgColor}}">
    <div class="footer_logo col-lg-3 col-md-3 col-sm-12">
        <div class="logo">
            <a href="{{_web.homeurl}}" title="{{_web.sitename}}">
                {% if (_web.festivalContent) %}
                <img src="{{_web.url}}{{theme_url}}/common/images/common/logo_64_64_white.png" alt="{{_web.sitename}}">
                {% else %}
                <img src="{{_web.url}}{{theme_url}}/common/images/common/logo.png" alt="{{_web.sitename}}">
                {% endif %}
            </a>
        </div>
        <div class="brand" style="border-left: 2px solid {{_web.festivalFontColor}};">
            <a href="{{_web.homeurl}}" title="{{_web.sitename}}" style="color: {{_web.festivalFontColor}};">
                一个<br>技术交流学习社区
            </a>
        </div>
    </div>
    <div class="footer_right col-lg-9 col-md-9 col-sm-12">
        <div class="footer_inner">
            <p class="footer-link-wrap">
                <a href="/about.html" target="_blank">关于我们</a>
                <a href="/guest.html" target="_blank">联系我们</a>
                <a href="/policy.html" target="_blank">注册协议</a>
                <a href="/copyright.html" target="_blank">版权声明</a>
                <a href="/ads.html" target="_blank">推广服务</a>
                <a href="/sitemap.xml" target="_blank">网站地图</a>
                <a href="/links.html" target="_blank">友情链接</a>
                {% for item in _footerLink %}
                <a el="nofollow" href="{{item.url}}" title="{{item.desciption}}" target="_blank">{{item.title}}</a>
                {%endfor%}
            </p>
            <p>
                <a class="after-content" el="nofollow" href="http://www.miitbeian.gov.cn/">辽ICP备16015497号-2</a>
                <a class="after-content" href="mailto:saucxs@163.com" class="email">saucxs@163.com</a>
                <!--统计start-->
                <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
                <span class="after-content">本站总访问量<span id="busuanzi_value_site_pv"></span>次</span>
                <span class="after-content">本站访客数<span id="busuanzi_value_site_uv"></span>人次</span>
                <!--统计end-->
            </p>
            <p >
                <!--<span>-->
                <!--版权所有 © <a href="{{_web.homeurl}}">{{_web.sitename}}</a>-->
                <!--</span>-->
                <span>
                    {{_web.copyright}} © <a href="{{_web.homeurl}}">{{_web.sitename}}</a>
                </span>
            </p>
        </div>
    </div>
    <div style="clear:both"></div>
</footer>

<script src="{{_web.url}}{{theme_url}}/{{think.Dev_Src}}js/widget/jquery/jquery-1.9.1.min.js"></script>
<!-- build:js -->
<script src="{{_web.url}}{{theme_url}}/{{think.Dev_Src}}js/business/pagecommon/footer.js"></script>
<script src="{{_web.url}}{{theme_url}}/{{think.Dev_Src}}js/widget/timeago/timeago.js"></script>
<script src="{{_web.url}}{{theme_url}}/{{think.Dev_Src}}js/widget/timeago/timeago.zh-cn.js"></script>
<!-- endbuild -->
<script type="text/javascript">
    $('.timeago').timeago();
</script>
<!--访客统计代码-->
{{_web.tongji|safe}}
<!--访客统计代码-->

<!--百度自动推送-->
{{_web.baidu_tuisong|safe}}
<!--百度自动推送-->

