<div class="topbar">
    <ul class="site-nav topmenu">
        <li style="display: block;">
            <a href="/nodejsblog.html" target="_blank">
                nodeJSBlog
            </a>
        </li>
        {% for item in _headerLink %}
        {% if item.show == 'true' %}
        <a el="nofollow" href="{{item.url}}" title="{{item.desciption}}" target="_blank">{{item.title}}</a>
        {%endif%}
        {%endfor%}

        {% if _web.festivalContent %}
        <li style="display: block;">
            <a style="color: {{_web.festivalBlueColor}}" href="/ads.html">contact</a>
        </li>
        {% else %}
        <li style="display: block;">
            <a class="red" href="/ads.html">contact</a>
        </li>
        {% endif %}
    </ul>
</div>
